<!DOCTYPE html>
<html lang="ko">
  <head>
    <title></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style_category.css" />
  </head>
  <body>
    <div class="container">
      <a id="main_icon" href="javascript:gotomain()">🏠</a>

      <h1>
        <span id="category_icon">☕</span>
        <span id="category_title"><%=type%></span>
      </h1>
      <!-- <% result.forEach( function(res){ %>
      <h1><%=res.name%></h1>
      <%});%> -->

      <!-- <% result.forEach( (i) =>{ %>
      <h1><%=i.name%></h1>
      <%});%> -->
      <div class="row">
        <% result.forEach( (i) => {%>
        <div class="col-3">
          <div class="card">
            <a href="javascript:moreinfo('<%=i.name%>')">
              <img src="<%=i.image %>" alt="No Img" class="card-img-top" />
            </a>
            <div class="card-body">
              <h5 class="card-title">
                <%= i.name%> 👍<%= i.like%> 👎<%=i.dislike%>
              </h5>
              <p class="card-text">
                <span></span>
                <span><%= i.location %></span>
              </p>
            </div>
          </div>
        </div>
        <%});%>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./../javascripts/category.js"></script>
  </body>
</html>
